<launch>

<node pkg="aut_sys" name="distanceDriver" type="distanceDriver.py"/>
<node pkg="aut_sys" name="lineDriver" type="lineDriver.py"/>
<node pkg="aut_sys" name="servoDriver" type="servoDriver.py"/>
<node pkg="aut_sys" name="motorDriver" type="motorDriver.py"/>

<!-- Insert below any other node to run after the drivers  -->

<node pkg="aut_sys" name="uctronics" type="uctronics.py" output="screen"/>

</launch>
